.root {
    flex-grow: 1;
}

.appBar {
    background: linear-gradient(45deg, #6b90fe 30%, #d96a1f 90%);
}

.title {
    flex-grow: 1;
    color: whitesmoke;
}
.navButtonRoot {
    margin: 5px;
}
.navButtons {
    color: whitesmoke;
}
